* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #E7E7E7;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    @media (min-width: 320px) and (max-width: 768px) {
        margin: 0;
    }

    h1 {
        font-size: 40px;
        font-weight: bold;

        @media (min-width: 320px) and (max-width: 768px) {
            font-size: 24px;
        }
    }

    img {
        height: 36px;
        margin-right: 16px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    max-width: 1024px;
    margin: 0 auto;
    padding: 80px 32px;
    

    @media (min-width: 320px) and (max-width: 768px) {
        padding: 80px 16px;
        width: 100%;
    }
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    width: 50%;

    @media (min-width: 320px) and (max-width: 768px) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin: 0;
    }

    div {
        display: flex;
        gap: 16px;
    }

    input {
        font-size: 16px;
        background-color: #fff;
        padding: 8px;
        border: none;
        border-top: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 2px solid #bbb;
        border-left: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);

        &[type=number]::-webkit-inner-spin-button { 
            -webkit-appearance: none;
        }

        &[type=number] { 
            -moz-appearance: textfield;
            appearance: textfield;
            width: 80px;
        }
    }

    button {
        background-color: #009432;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 8px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);

        @media (min-width: 320px) and (max-width: 768px) {
            width: 100%;
        }

        &:hover {
            background-color: #007a2e;
        }

        &:active {
            transform: scale(0.95);
            background-color: #006421;
        }
    }
}

table {
    width: 100%;

    @media (min-width: 320px) and (max-width: 768px) {
        padding: 16px;
        width: 100%
    }

    th {
        border-bottom: 2px solid #000;
        padding: 16px;
        font-size: 24px;
        font-weight: bold;

        @media (min-width: 320px) and (max-width: 768px) {
            font-size: 16px;
        }
    }

    td {
        padding: 16px 0;
        text-align: center;
        font-size: 18px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
        img {
            height: 30px;
        }

        @media (min-width: 320px) and (max-width: 768px) {
            font-size: 16px;
        }
    }

    tfoot {
        td {
            font-size: 20px;
            font-weight: bold;

            @media (min-width: 320px) and (max-width: 768px) {
            font-size: 16px;
        }
        }
    }
}

.resultado {
    padding: 8px;
    font-weight: bold;
    color: #fff;
}

.aprovado {
    color: #009432;
}

.reprovado {
    color: red;
}